<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

{% block content %}
	<h1>Local Library Home</h1>

  <h2>Dynamic content</h2>

    <p>The library has the following record counts:</p>
    <ul>
      <li><strong>Relatos:</strong> {{ num_stories }}</li>
      <li><strong>Líricas:</strong> {{ num_lyrics }}</li>
      <li><strong>Frases:</strong> {{ num_phrases }}</li>
      <li><strong>Autores:</strong> {{ num_authors }}</li>
      <li><strong>Poemas:</strong> {{ num_poetrys }}</li>
    </ul>

{% endblock %}
</body>
</html>
