{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
    </style>
</head>
<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" class="'form-signin" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="myfile">
                    <button type="sumbit"> Subir Archivo</button>
                </form>

                {% if uploaded_file_url %}
                <p>Archivo subido en: <a href="{{ uploaded_file_url }}"></a></p>
                {% endif %}

                    <p class="mt-5 mb-3 text-muted">&copy; 2023 Gabriel Siles</p>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>